*.aux
*.bak
*.bat
*.bbl
*.bib
*.blg
*.cls
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gls
*.gz
*.hd
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdf
*.sublime-project
*.sublime-workspace
*.synctex
*.synctex(busy)
*.synctex.gz
*.tex
*.toc
*.xdv
.DS_Store
latexmkrc
